@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
body{
}
.searchmatch{
    text-align:left;
    border:1px solid #2d89ef;
    margin:6vh;
    padding:3vh;
    color: #999999;
    font-family: 'Roboto', sans-serif;
    
}
.text-center{
    text-align:center
}
.title{
   font-size:4vh;
}
.link{
    font-size:2vh;
}