@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
*{
    box-sizing: border-box;
    padding:0;
    margin:0;
}
body{
    font-family: 'Pacifico', cursive;
    text-align:right;
}

.container{
    display:flex;
    flex-direction: row;
    float: right;
}
.border{
    text-decoration:underline;
    margin-right:5vh;
}